* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 300;
    font-size: .95rem
}

nav {
    width: 100%;
    background-color: #009688;
    color: white;
    padding: 12px 45px;
    position: fixed;
    top: 0px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    float: left;
}

#appName {
    color: white;
}

#roomName, #roomNameHead {
    text-align: center;
    font-size: 1.3rem;
    color: #FFEB3B;
}

button,
button:hover {
    border: none;
    color: #fff;
    padding: 10px;
}

.chat__messages,
.chat__sidebar ul {
    list-style-type: none
}


li,
ul {
    list-style-position: inside
}

li:not(:first-child) {
    border-top: #b9b9b9 solid 0.1rem;
}

h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem
}

button {
    background: #265f82;
    cursor: pointer;
    transition: background .3s ease
}

button:hover {
    background: #1F4C69
}

button:disabled {
    cursor: default;
    background: #698ea5
}

.centered-form {
    display: flex;
    align-items: center;
    height: 92.2vh;
    width: 100vw;
    justify-content: center;
    background: -moz-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(49, 84, 129, 1)), color-stop(100%, rgba(39, 107, 130, 1)));
    background: -webkit-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -o-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -ms-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%)
}

.centered-form__form {
    background: rgba(250, 250, 250, .9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px;
    width: 340px
}

.form-field {
    margin: 20px 0
}

.form-field>* {
    width: 100%
}

.form-field label {
    display: block;
    margin-bottom: 7px
}

#rooms select {
    width: 100%;
}

.form-field input,
.form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px
}

.chat {
    display: flex;
    margin-top: 51px;
}

.chat__sidebar {
    overflow-y: scroll;
    min-width: 250px;
    height: 92.2vh;
    background: -moz-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(49, 84, 129, 1)), color-stop(100%, rgba(39, 107, 130, 1)));
    background: -webkit-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -o-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -ms-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%)
}

#calling_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#call_notf {
    width: 400px;
    padding: 25px;
    background-color: #2f5a82;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

#call_notf h4{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
#call_notf span {
    font-size: 20px;
    background-color: rgb(22, 136, 22);
    padding: 5px 25px;
    border-radius: 5px;
    margin: 25px;
    cursor: pointer;
}

#calling_div #jitsi_buttons #hangUpBtn {
    transition: 0.3s;
}
#calling_div #jitsi_buttons #hangUpBtn:hover {
    background-color: rgb(243, 100, 100);
}

#call_notf #reject_call {
    background-color: rgb(243, 100, 100);
}


.hideIt {
    display: none !important;
}

.chat__footer,
.chat__sidebar li {
    background: #e6eaee;
    padding: 10px
}

.chat__sidebar a {
    text-decoration: none !important;
}

.chat__sidebar h3 {
    color: #e6eaee;
    margin: 10px 20px;
    text-align: left
}

.chat__sidebar li {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 10px
}

.chat__sidebar li em {
    /* display: none; */
    color: #119e00;
    float: right;
}

.chat__main {
    display: flex;
    flex-direction: column;
    height: 92.2vh;
    width: 100%
}

.chat__messages {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px
}

.chat__footer {
    display: flex;
    flex-shrink: 0
}

.chat__footer form {
    flex-grow: 1;
    display: flex
}

.chat__footer form * {
    margin-right: 10px
}

.chat__footer input {
    border: none;
    padding: 10px;
    flex-grow: 1
}

.message {
    padding: 10px
}

.message__title {
    display: flex;
    margin-bottom: 5px
}

.message__title h4 {
    font-weight: 600;
    margin-right: 10px
}

.message__title span {
    color: #999
}

@media (max-width:600px) {
    * {
        font-size: 1rem
    }

    .chat__sidebar {
        display: none
    }

    .chat__footer {
        flex-direction: column
    }

    .chat__footer form {
        margin-bottom: 10px
    }

    .chat__footer button {
        margin-right: 0
    }
}

/* scroll bar */

*::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: #F5F5F5;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(247, 159, 88);
}